<main class="ms-welcome__main">

    <br />
    <br />

    <br />
    <br />
    <button class="ms-Button" id="change-font-new" (click)="changeFontBold()">Bold </button><br /><br />
    <button class="ms-Button" id="change-font" (click)="changeFontItalic()">Italic </button><br /><br />

    <input type="text" placeholder="Click to see text" name="myInput" id="myInput" #myInput>
    <button type="button" (click)="onClickShowText(myInput.value)">Add
        Text </button><br /><br />

    <input placeholder="show anything you type" (keyup)="onKeyTypeText($event)">

    <!-- <div role="button" class="ms-welcome__action ms-Button ms-Button--hero ms-u-slideUpIn20" (click)="run()">

        <span class="ms-Button-label">Run</span>
        <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--ChevronRight"></i></span>
    </div> -->
</main>